# Project: Geo-pulse - Prediction of number of interests

---

## 1. Importing Libraries

In [1]:
# General Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Sci-kit learn Library
# machine learning models
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

# preprocess
from sklearn.model_selection import train_test_split

# metrics
from sklearn.metrics import mean_squared_error

sns.set_palette('colorblind')

In [2]:
df = pd.read_csv('../data/geo_cleaned.csv', index_col=[0])

In [3]:
df.head()

,area_code,hour,segment,density,prepaid,postpaid,gender_male,gender_female,gender_unknown,age_1_19,...,online_shopping_user,inte_travel_and_information,inte_investment,inte_realestate,inte_insurance,inte_automobile,inte_fitness_and_wellness,par_day,area_code_length,time_of_day
0,BAAACBIH,18,visitor,28,9,19,5,11,12,6,...,21,4,3,2,0,3,3,20201104,8,Afterwork
1,BAAACBIH,17,visitor,21,10,11,6,7,8,3,...,11,1,2,0,0,0,0,20201104,8,Work
2,BAAHEBJC,1,visitor,37,17,20,10,8,19,8,...,20,1,2,0,0,4,3,20201104,8,Sleep
3,BAEFBBAC,16,worker,43,21,22,11,9,23,5,...,24,3,3,4,3,5,4,20201104,8,Work
4,BAJKABJB,12,visitor,21,12,9,8,6,7,3,...,12,0,0,0,0,1,1,20201104,8,Work

---

## 2. Data Preparation

In [4]:
# drop unused columns
df.drop(columns=['area_code','par_day','area_code_length','hour'], 
        inplace = True)

In [5]:
# defining column groups
GENDER = df.columns[df.columns.str.contains('gender')]
AGE = df.columns[df.columns.str.contains('age')]
PAID = df.columns[df.columns.str.contains('paid')]
PLAN = df.columns[df.columns.str.contains('pay')]
USER = df.columns[df.columns.str.contains('user')]
INTE = df.columns[df.columns.str.contains('inte')]

col_cat = [GENDER,AGE,PAID,PLAN,USER,INTE]
col_cat_name = ['Gender','Age','Post/Pre Paid','Package Plan',
                'Usage','Interests']

---

## 3. Predict number of interests

In [6]:
def get_metrics(model,X_train=1,X_test=1,y_train=1,y_test=1):
    
    model.fit(X_train, y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_r2 = model.score(X_train, y_train).round(4)
    test_r2 = model.score(X_test, y_test).round(4)
    train_rmse = mean_squared_error(y_train,y_train_pred).round(2)
    test_rmse = mean_squared_error(y_test,y_test_pred).round(2)
    
    return train_r2,test_r2,train_rmse,test_rmse

In [7]:
def predict_category(model_input,category,X_train=1, X_test=1,
                     y_train=1, y_test=1):
    
    results_dict = {}
    
    for col in category:
        
        model = model_input
        
        X = df.drop(columns=category)
        y = df[col]
        X = pd.get_dummies(X,columns=['segment','time_of_day'])

        X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                        test_size = 0.2,
                                                        random_state=42)
        metrics = []

        train_r2,test_r2,train_rmse,test_rmse = \
        get_metrics(DummyRegressor(),X_train, X_test, y_train, y_test)
        metrics.extend([train_r2,test_r2,train_rmse,test_rmse])


        train_r2,test_r2,train_rmse,test_rmse = \
        get_metrics(model,X_train, X_test, y_train, y_test)
        metrics.extend([train_r2,test_r2,train_rmse,test_rmse])
    
        results_dict[col] = metrics
    
    return pd.DataFrame(results_dict,
                        index=['base_train_r2','base_test_r2','base_train_rmse',
                               'base_test_rmse','model_train_r2',
                               'model_test_r2','model_train_rmse', 
                               'model_test_rmse'])

### 3.1 Linear Regression

#### 3.1.1 Predict number of interests in certain grid

In [8]:
predict_category(LinearRegression(),INTE)

,inte_coffee_lover,inte_travel_and_information,inte_investment,inte_realestate,inte_insurance,inte_automobile,inte_fitness_and_wellness
base_train_r2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
base_test_r2,-0.0097,-0.0006,-0.0047,-0.0005,-0.0004,-0.0014,-0.0024
base_train_rmse,124.1800,25.3600,28.5600,10.1400,9.2500,29.0900,31.5000
base_test_rmse,155.1600,27.6500,28.7100,8.2900,7.6300,30.7800,48.2500
model_train_r2,0.9247,0.8519,0.8478,0.7480,0.7449,0.8403,0.8058
model_test_r2,0.9247,0.7202,0.8136,0.5425,0.6971,0.8332,0.9117
model_train_rmse,9.3500,3.7500,4.3500,2.5600,2.3600,4.6500,6.1200
model_test_rmse,11.5800,7.7300,5.3300,3.7900,2.3100,5.1300,4.2500

### 3.1.2 Predict number of app users in certain grid

In [9]:
predict_category(LinearRegression(),USER)

,music_streamer_user,video_streaming_app_user,merchant_app_user,bank_app_user,fastfood_app_user,food_delivery_app_user,grocery_delivery_app_user,online_shopping_user
base_train_r2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
base_test_r2,-0.0019,-0.0017,-0.0024,-0.0024,-0.0000,-0.0020,-0.0008,-0.0052
base_train_rmse,59.9600,325.2000,3.3400,503.5700,4.6100,226.1800,87.5800,741.4800
base_test_rmse,183.3100,537.3700,4.2800,549.3100,4.6700,270.8200,80.9500,1088.8800
model_train_r2,0.9024,0.9644,0.5732,0.9701,0.6445,0.9488,0.9102,0.9825
model_test_r2,0.7261,0.9480,0.5863,0.9345,0.6306,0.9483,0.8494,0.9855
model_train_rmse,5.8500,11.5700,1.4300,15.0800,1.6400,11.5800,7.8600,12.9400
model_test_rmse,50.1200,27.8900,1.7700,35.8800,1.7300,13.9600,12.1800,15.6700

### 3.2 XGBoost

#### 3.2.1 Predict number of interests in certain grid

In [10]:
predict_category(XGBRegressor(),INTE)

,inte_coffee_lover,inte_travel_and_information,inte_investment,inte_realestate,inte_insurance,inte_automobile,inte_fitness_and_wellness
base_train_r2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
base_test_r2,-0.0097,-0.0006,-0.0047,-0.0005,-0.0004,-0.0014,-0.0024
base_train_rmse,124.1800,25.3600,28.5600,10.1400,9.2500,29.0900,31.5000
base_test_rmse,155.1600,27.6500,28.7100,8.2900,7.6300,30.7800,48.2500
model_train_r2,1.0000,0.9999,0.9999,0.9999,0.9999,0.9999,0.9999
model_test_r2,0.8689,0.8042,0.7729,0.6142,0.5834,0.7942,0.6672
model_train_rmse,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
model_test_rmse,20.1500,5.4100,6.4900,3.2000,3.1800,6.3300,16.0200

#### 3.2.2 Predict number of app users in certain grid

In [11]:
predict_category(XGBRegressor(),USER)

,music_streamer_user,video_streaming_app_user,merchant_app_user,bank_app_user,fastfood_app_user,food_delivery_app_user,grocery_delivery_app_user,online_shopping_user
base_train_r2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
base_test_r2,-0.0019,-0.0017,-0.0024,-0.0024,-0.0000,-0.0020,-0.0008,-0.0052
base_train_rmse,59.9600,325.2000,3.3400,503.5700,4.6100,226.1800,87.5800,741.4800
base_test_rmse,183.3100,537.3700,4.2800,549.3100,4.6700,270.8200,80.9500,1088.8800
model_train_r2,0.9999,1.0000,0.9998,1.0000,0.9998,1.0000,1.0000,1.0000
model_test_r2,0.4682,0.7764,0.5124,0.9431,0.4926,0.8897,0.8605,0.8715
model_train_rmse,0.0000,0.0100,0.0000,0.0100,0.0000,0.0100,0.0000,0.0000
model_test_rmse,97.3100,119.9600,2.0800,31.2100,2.3700,29.8000,11.2900,139.1800